<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password</title>
</head>

<body>

    <h1>Forgot Password</h1>

    <p>
        Enter your email address to receive an OTP.
    </p>

    <form method="POST">

        {% csrf_token %}

        {{ form.non_field_errors }}

        <div>
            {{ form.email.label_tag }}
            {{ form.email }}

            {{ form.email.errors }}
        </div>

        <br>

        <button type="submit">
            Send OTP
        </button>

    </form>

</body>

</html>