<!DOCTYPE html>
<html>
<head>
    <title>Login - MusicZone</title>
</head>

<body>

    <h1>Login</h1>

    {% if form.errors %}
        <p>
            Username or password is incorrect.
        </p>
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Login
        </button>

    </form>

    <br>

    <a href="{% url 'signup' %}">
        Don't have an account? Signup
    </a>

</body>
</html>